# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/

# =========================
# Build results
# =========================
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# =========================
# User-specific files
# =========================
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# =========================
# .NET Core
# =========================
project.lock.json
project.fragment.lock.json
artifacts/

# =========================
# Logs & coverage
# =========================
*.log
Logs/
CodeCoverage/

# =========================
# Test results
# =========================
TestResults/
*.trx

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
.nuget/
packages/

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db
